// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #9C3228;
$gray: #777;

.post {
  font-size: 14px;

  h1 {
    font-size: 24px;
    color: $gray;
  }

  h2 {
    font-size: 18px;
    color: $gray;
  }

  h3 {
    font-size: 16px;
    color: $gray;
  }

  .author {
    margin-bottom: 30px;
  }

  .name {
    font-weight: bold;
  }

  .email {
    color: $red;
    font-weight: bold;
    text-align: right;
  }

  .date {
    text-align: center;
  }

  .body {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    margin: 7px 0 7px 0;
  }

  a {
    color: $red;
  }

  border-style: dotted;
  border-color: $gray;
  border-width: 0 0 1px 0;
  margin: 0 0 50px 0;
  padding: 0 0 50px 0;
}

